<mat-card>
<div *ngIf="!isSignedIn">

    <h2>Sign up</h2>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Enter the Email</mat-label>
            <input matInput placeholder="Email" #emailSignup>
            <mat-icon matSuffix></mat-icon>
          </mat-form-field>
        </div>      
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" #passwordSignup>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </div>  
    <button mat-raised-button color="warn" type="submit" (click)="onSignup(emailSignup.value,passwordSignup.value)">Sign up</button>
</div>
<hr>
<div *ngIf="!isSignedIn">
   <h2>Sign In</h2> 
   <div>
    <mat-form-field appearance="fill">
        <mat-label>Enter the Email</mat-label>
        <input matInput placeholder="Email" #email>
        <mat-icon matSuffix></mat-icon>
      </mat-form-field>
    </div>   
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" #password>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>  
   <button mat-raised-button color="warn" type="submit" (click)="onSignin(email.value,password.value)">Sign In</button>
</div>
<div *ngIf="isSignedIn" (isLogout)="handleLogout()">
<p>you are logged in</p>
<button mat-raised-button color="warn" (click)="logout()">Logout</button>
</div>
</mat-card>
