<div class="submit">
    <mat-card>
        <h2>Create News</h2> 
<p>
    <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput placeholder="title" #title>
      </mat-form-field>
    </p>
    <p>
    <mat-form-field appearance="outline">
        <mat-label>URL</mat-label>
        <input matInput placeholder="url" #url>
      </mat-form-field>
    </p>
        <!-- <tr>
            <td>text</td><td><textarea #text></textarea></td>
        </tr> -->
        <tr>
            <td>
                <button mat-raised-button color="warn" (click)="addpost(title.value,url.value)">submit</button>
            </td>
        </mat-card>
        </div>            
    
